body {
    background-image: url('http://images5.fanpop.com/image/photos/30700000/The-Beach-coney-island-30740799-1115-740.jpg');
    background-size: 1280px 700px;
    background-repeat: no-repeat;
    
}


#coneimage {
    height: 210px;
    width: auto;
    position: fixed;
    bottom: 120px;
    z-index: 1;
}

#table {
    height: 20px;
    width: 20%;
    bottom: 60px;
    position:fixed;
    padding: 15%;
}

#gummies {
    position: absolute;
    left: 300px;
    width: 140px;
    bottom:400px;
    z-index: 2;
}

#sprinkles {
    width: 140px;
    position: absolute;
    left: 500px;
    bottom: 400px;
}

#chocolate {
    width: 140px;
    position: absolute;
    bottom: 400px;
    left: 700px;
}

#mm {
    position: fixed;
    left:900px;
    width: 140px;
    bottom:400px;
}

#snek{
    width: 150px;
    height:150px;
    position:absolute;
}

#cone {
    position: relative;
    left: 645px;
    top: 0px;
    z-index: 1;
}

#text1 {
    z-index: 1;
    font-size: 40px;
    color: black;
    text-align: center;
    background: white;
    box-sizing: border-box;
    position: fixed;
    left: 550px;
    font-family: "Comic Sans MS";
    border: 10px solid;
    border-color: cyan;
    border-radius: 10px;
}

#img {
    
}

#board {
    height: 300px;
    width: 100px;
    position: fixed;
    top: 200px;
}

#button1 {
    position: fixed;
    z-index: 1;
    top: 250px;
    left: 36px;
}

#button2 {
    position: fixed;
    z-index: 1;
    top: 300px;
    left: 36px;
}

#button3 {
    position: fixed;
    z-index: 1;
    top: 350px;
    left: 36px;
}

#button4 {
    position: fixed;
    z-index: 1;
    top: 400px;
    left: 36px;
}