body {
    background-image: url('http://images5.fanpop.com/image/photos/30700000/The-Beach-coney-island-30740799-1115-740.jpg');
    background-size: 1280px 700px;
    background-repeat: no-repeat;
    
}


#coneimage {
    height: 210px;
    width: auto;
    position: fixed;
    bottom: 120px;
    z-index: 1;
}

#table {
    height: 20px;
    width: 20%;
    bottom: 60px;
    position:fixed;
    padding: 15%;
}

#gummies {
    position: absolute;
    left: 300px;
    width: 140px;
    bottom:500px;
    z-index: 2;
}

#sprinkles {
    width: 140px;
    position: fixed;
    left: 300px;
    bottom: 500px;
}

#chocolate {
    width: 140px;
    position: fixed;
    bottom: 500px;
    left: 300px;
}

#gummies2 {
    position: fixed;
    left:900px;
    width: 140px;
    bottom:500px;
}

#sprinkles2 {
    position: fixed;
    left:900px;
    width:140px;
    bottom:500px;
}

#chocolate2 {
    position: fixed;
    left:900px;
    width:140px;
    bottom:500px;
}

#snek{
    width: 150px;
    height:150px;
    position:absolute;
}

#cone {
    position: relative;
    left: 645px;
    top: 0px;
    z-index: 1;
}

#text1 {
    z-index: 1;
    font-size: 40px;
    color: black;
    text-align: center;
    background: red;
    box-sizing: border-box;
    position: fixed;
    left: 550px;
    font-family: "Comic Sans MS";
    border: 2px solid;
}

#img {
    
}
